<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/css.ejs') %>
        <link rel="stylesheet" href="/css/sidebars.css">
</head>

<body>
    <%- include('../partials/dashboardNavbar.ejs') %>

        <div class="jumbotron text-center bg-transparent margin3-top margin6-bottom">
            <h1 class="commandstitle">Porudzbine</h1>
            <p class="lead commandssub">Sve porudzbine. Mozete potraziti posebne unoseci ih u prazno polje ispod.</p>
            <hr>
            <input id="myInput" type="text" class="searchbox mb-5" placeholder="Pretraga">
            <div class="border mb-2"></div>
            <div id="myCmd">
            <% orders.forEach(item => {%>
                <button type="button" class="collapsible mt-4">
                    <%= item.title %><span> - <%= item.email %></span>
                </button>
                <div class="content">
                    <h4 style="color: black;">Status:</h4>
                    <p>
                        <%= item.orderStatus %>
                    </p>
                    <h4 style="color: black;">Cena:</h4>
                    <p>
                        <%= item.price %>
                    </p>
                    <h4 style="color: black;">Nacin placanja:</h4>
                    <p>
                        Kartica
                    </p>
                    <h4 style="color: black;">Mail:</h4>
                    <p>
                        <%= item.email %>
                    </p>
                    <h4 style="color: black;">Ime I Prezime:</h4>
                    <p>
                        <%= item.firtName %> <%= item.lastName %>
                    </p>
                    <h4 style="color: black;">Adresa:</h4>
                    <p>
                        <%= item.address %>
                    </p>
                </div>
                <% }) %>
                </div>

            </div>
        </div>

        <%- include('../partials/js.ejs') %>

            <script>
                var coll = document.getElementsByClassName("collapsible");
                var i;

                for (i = 0; i < coll.length; i++) {
                    coll[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        if (content.style.display === "block") {
                            content.style.display = "none";
                        } else {
                            content.style.display = "block";
                        }
                    });
                }

                $(document).ready(function () {
                    $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#myCmd button").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>

</body>

</html>