<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrieren | <%= siteName %>
    </title>
    <%- include('../../partials/css.ejs') %>
</head>

<body>
    <%- include('../../partials/secNavbar.ejs') %>

        <div class="container register-container text-center">
            <div class="register-title">
                Registrieren
            </div>
            <div class="register-description">
                Bitte füllen Sie die folgenden Informationen aus
            </div>
            <form action="/register" method="post">
                <div class="register-information">
                    <input class="system-input" type="text" name="firstName" placeholder="First Name">
                </div>
                <div class="register-information">
                    <input class="system-input" type="text" name="lastName" placeholder="Last Name">
                </div>
                <div class="register-information">
                    <input class="system-input" type="email" name="email" placeholder="Email">
                </div>
                <div class="register-information">
                    <input class="system-input" type="password" name="password" placeholder="Password">
                </div>
                <div class="register-information margin1-05-bottom">
                    <input type="checkbox" name="offers" checked> Seien Sie über neue Angebote informiert
                </div>
                <div class="register-information">
                    <input class="btn btn-primary button16" type="submit" value="Napravi nalog">
                </div>
            </form>
            <div class="register-information">
                <div class="already text-center">Sie haben schon ein Konto?</div> <a class="loginHref"
                    href="/login">Anmeldung</a>
            </div>

        </div>
        <footer>
            <div class="text-center">
                <hr style="background-color:#614e4e; height: 2px; margin-bottom: 4rem;">
                <span class="system-footer-letter"> © 2023 <%=siteName %></span>
            </div>
        </footer>
        <%- include('../../partials/js.ejs') %>
</body>

</html>