<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kolica | <%= siteName %>
    </title>
    <% let total=0; %>
        <%- include('../../partials/css.ejs') %>
</head>

<body>
    <%- include('../../partials/secNavbar.ejs') %>
        <div class="container margin3-top">
            <div class="d-flex justify-content-center">
                <div class="me-auto m-0">
                    <h3>Cart</h3>
                </div>
                <h3 class="ms-auto d-flex">
                    <%if(products=="empty" ){%>
                        <%if (req.session.value=="usd" ){%>
                            <div class="margin1-right">Total: $0</div>
                            <% } else {%>
                                <div class="margin1-right">Total: 0€</div>
                                <% } %>
                                    <div class="btn btn-success disabled">Check Out</div>
                                    <% } else { %>
                                        <%if (req.session.value=="usd" ){%>
                                            <div class="margin1-right">Total: $<%=eurtousd(total) %>
                                            </div>
                                            <% } else {%>
                                                <div class="margin1-right">Total: <%= total %>€
                                                </div>
                                                <% } %>
                                                    <div class="btn btn-success">Check Out</div>
                                                    <% } %>
                </h3>
            </div>
            <hr>
            <%= console.log(products)%>
                <%if (products=="empty" ){%>
                    <h3 class="text-center">Cart is empty</h3>
                    <% } else {products.forEach(item=> {%>
                        <%total=total + item.price;%>
                            <div class="cartHolder">
                                <div class="dik">
                                    <div class="d-flex">
                                        <div class="ms-auto">
                                            <div class="x">&#10005;</div>
                                        </div>
                                    </div>
                                    <div class="cartContainer">
                                        <div class="d-flex">
                                            <div class="cartImage">
                                                <div class="me-auto m-0">
                                                    <% if(item.images[0]) {%>
                                                        <img src="/uploads/<%= item.images[0] %>" height="250px"
                                                            style="border-radius: 15px;">
                                                        <% } else { %>
                                                            <img src="/images/mia11.png" height="250px"
                                                                style="border-radius: 15px;">
                                                            <% } %>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="cartTitle">
                                                    <%= item.title %>
                                                </div>
                                                <div class="cartDescription text-center">
                                                    <%= item.description %>
                                                </div>

                                            </div>
                                            <h3 class="ms-auto">
                                                <div class="cartPrice">
                                                    <%if (req.session.value=="usd" ){%>
                                                        $<%= eurtousd(item.price) %>
                                                            <% } else {%>
                                                                <%= item.price %>€
                                                                    <% } %>
                                                </div>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) }%>
        </div>


        <%- include('../../partials/js.ejs') %>
</body>

</html>