<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../../partials/css.ejs') %>
        <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../../partials/navbar.ejs') %>


        <div class="super_container">
            <div class="single_product">
                <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
                    <div class="row">
                        <div class="col-lg-2 order-lg-1 order-2 ">
                            <div class="max13">
                                <ul class="image_list">
                                    <% product.images.forEach(img=> {%>
                                        <li data-image="/uploads/<%= img %>">
                                            <img onclick="changeImage(this)" src="/uploads/<%= img %>" alt=""
                                                style="max-height: 165px !important;">
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-2 order-1">
                            <div class="image_selected"><img id="main_selected_image"
                                    src="/uploads/<%= product.images[0]%>" alt="" style="max-height: 520px;">
                            </div>
                        </div>

                        <div class="col-lg-6 order-3">
                            <div class="product_description">
                                <span class="product_name" id="title">
                                    <%= product.title %>
                                </span>
                                <div class="product_shortDescription" id="s_description">
                                    <%= product.s_description || "Kratak opis nije pronadjen" %>
                                </div>
                                <div>
                                    <%if (req.session.value=="usd" ){%>
                                        <div class="product_price" id="value">$</div>
                                        <div class="product_price" id="price" style="padding-left: 0;">
                                            <%= eurtousd(product.price) %>
                                        </div>
                                        <% } else {%>
                                            <div class="product_price" id="value">€</div>
                                            <div class="product_price" id="price" style="padding-left: 0;">
                                                <%= product.price %>
                                            </div>

                                            <% } %>

                                </div>
                                <hr>
                                <div class="product_info">
                                    Colors:
                                </div>
                                <div class="colorList d-flex" style="background-color: #afafaf;">
                                    <% if(product.colors.black){%>
                                        <div class="black" onclick="color(this)">
                                            <div class="colorblack1">
                                                <div class="colorCentarWite" id="black">
                                                    <div class="colorblack2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% if(product.colors.pink){%>
                                                <div class="color-gap pink" onclick="color(this)">
                                                    <div class="colorpink1">
                                                        <div class="colorCentarWite" id="pink">
                                                            <div class="colorpink2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% if(product.colors.white){%>
                                                        <div class="color-gap gray" onclick="color(this)">
                                                            <div class="colorgrey1">
                                                                <div class="colorCentarBlack" id="gray">
                                                                    <div class="colorgrey2">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                </div>
                                <div class="product_info">
                                    Sizes:
                                </div>
                                <div class="sizeList d-flex">
                                    <% product.sizes.forEach(size=> {%>
                                        <div class="<%=size%>" onclick="size(this)">
                                            <div class="sizeS1">
                                                <div class="colorCentarWite">
                                                    <div class="" id="<%=size%>">
                                                        <%=size.toUpperCase()%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <%})%>
                                </div>
                                <div class="product_info modelInfo">
                                    Mia je <b>5'1"</b> i nosi velicinu <b>XS</b>
                                </div>
                                <div class="checkout text-center">
                                    <div class="wud btn btn-classic" style="width: auto; padding: 8px 15px 8px 15px;"
                                        onclick="addToCart();">
                                        <img src="/images/bag.png" width="25" height="25" style="margin-right: 8px;">ADD
                                        TO CART
                                    </div>
                                </div>
                                <hr>
                                <!-- <div class="partDescription">
                                    <%= product.description %><b onclick="showDetails()"
                                        class="more">Vise</b>
                                </div>
                                <hr> -->
                                <div class="details d-flex justify-content-center align-items-center"
                                    onclick="showDetails()">
                                    <div class="detailsTitle">Product Details</div>
                                    <div class="ms-auto d-flex align-items-center">
                                        <i class="fa-solid fa-arrow-down fa-xl" id="arrow"></i>
                                    </div>

                                </div>
                                <div class="description brk hidden" id="description">
                                    <%= product.description%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="recommended text-center">
                        <div class="recommendedItemsTitle">
                            Complete Collection
                        </div>
                        <div class="recommendedItemsDescription">
                            Ostali proizvodi iz ove kolekcije.
                        </div>
                        <div class="recommendedItemsList row">
                            <div class="col product-gap tile">
                                <img src="/images/mia10.png" style="max-height: 378px; border-radius: 15px;">
                                <div class="productInfo">
                                    <div class="productName text-break">
                                        Majica
                                    </div>
                                </div>
                            </div>
                            <div class="col product-gap tile">
                                <img src="/images/mia10.png" style="max-height: 378px; border-radius: 15px;">
                                <div class="productInfo">
                                    <div class="productName text-break">
                                        Korset
                                    </div>
                                </div>
                            </div>
                            <div class="col product-gap tile">
                                <img src="/images/mia10.png" style="max-height: 378px; border-radius: 15px;">
                                <div class="productInfo">
                                    <div class="productName text-break">
                                        Crop Top
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function changeImage(element) {

                var main_prodcut_image = document.getElementById('main_selected_image');
                main_prodcut_image.src = element.src;

            }

            function showDetails() {
                var details = document.getElementById('description')
                var arrow = document.getElementById("arrow")
                if (details.classList.value.includes("hidden")) {
                    details.classList.value = 'description brk';
                    arrow.classList.value = "fa-solid fa-arrow-up fa-xl"
                } else {
                    arrow.classList.value = "fa-solid fa-arrow-down fa-xl"
                    details.classList.value = 'description brk hidden'
                }
            }

        </script>

        <script src="/js/addtocart.js"></script>

        <%- include('../../partials/js.ejs') %>
            <%- include('../../partials/footer.ejs') %>
</body>

</html>