<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home | <%= siteName %>
    </title>

    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">

    <%- include('../../partials/css.ejs') %>
        <style>
            body {
                background-color: #FAE0DF;
            }
        </style>

</head>


<body>
    <%- include('../../partials/loading.ejs') %>
        <%- include('../../partials/navbar.ejs') %>
            <div class="hwrap2">
                <div class="hmove">
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                </div>
            </div>
            <div class="d-none d-lg-block">
                <div class="view"
                    style="background-image: url('/images/test.svg'); background-repeat: no-repeat; background-size: cover; background-position: center center; min-height: 60rem;">
                </div>
            </div>
            <div class="d-block d-lg-none d-sm-block d-md-block">
                <div class="view"
                    style="background-image: url('/images/test.svg'); background-repeat: no-repeat; background-size: cover; background-position: center center; min-height: 30rem;">
                </div>
            </div>
            <div class="togeder" style="background-color: #FAE0DF;">
                <div class="row text-center" style="margin:auto">
                    <div class="col text-center"
                        style="background-color: #b67673; height: 3rem; padding-top: 0.5rem; font-size: 20px; font-weight: 700; width: 250px;">
                        COLLECTION</div>
                    <div class="col text-center justify-content-center"
                        style="background-color: #F7D7D0; height: 3rem; padding-top: 0.5rem; font-size: 20px; font-weight: 700; width: 250px;">
                        SOON</div>
                    <div class="col text-center justify-content-center"
                        style="background-color: #b48888; height: 3rem; padding-top: 0.5rem; font-size: 20px; font-weight: 700; width: 250px !important;">
                        ABOUT US</div>
                </div>
                <div class="popular text-center container">
                    <div class="categoryTitle">
                        <a href="/" style="font-weight: 500;">COLLECTION</a>
                    </div>
                    <div class="row">
                        <div class="col product-gap tile">
                            <img src="/images/mia17.png"
                                style="max-height: 516px; max-width: 344px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    CROP TOP
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>
                                    <span class="discountPrice">
                                        $80.00
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia18.png"
                                style="max-height: 516px; max-width: 344px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Neka haljina koja god hoces
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia19.png"
                                style="max-height: 516px; max-width: 344px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Uuuuu ova je malo skupa za moj ukus
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia19.png"
                                style="max-height: 516px; max-width: 344px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Uuuuu ova je malo skupa za moj ukus
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia19.png"
                                style="max-height: 516px; max-width: 344px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Uuuuu ova je malo skupa za moj ukus
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hwrap">
                <div class="hmove">
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                    <div class="hitem">NEW COLLECTION ADORE IT</div>
                </div>
            </div>

            <div class="d-none d-lg-block">
                <div class="margin3-top d-flex justify-content-center margin2-bottom">
                    <div class="roww">
                        <div class="columnn">
                            <img src="/images/testBlock.svg" style="width: 100%;">
                            <img src="/images/testBlock.svg" style="width: 100%;">
                        </div>
                        <div class="columnn">
                            <img src="/images/testBlock.svg" style="width: 100%;">
                            <img src="/images/testBlock.svg" style="width: 100%;">
                        </div>
                        <div class="columnn">
                            <img src="/images/testBlock.svg" style="width: 100%;">
                            <img src="/images/testBlock.svg" style="width: 100%;">
                        </div>
                    </div>
                    <div class="text justify-content-center"
                        style="width: auto; padding-top: 5rem; padding-right: 15px;">
                        <div style=" font-weight: 500; font-size: 52px;">INSTAGRAM</div>
                        <div class="instagramCategory"
                            style="font-family: 16px; font-family: 'Work Sans', sans-serif !important; font-weight: 300;">
                            Pictures from our instagram @adores.fsh were we always post new product before it publish.
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="novo text-center">
                    <div class="categoryTitle">
                        <a href="/new">Novo</a>
                    </div>
                    <div class="row">
                        <div class="col product-gap tile">
                            <img src="/images/mia2.png" style=" border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Ovde ide malo veci naziv haljine mozes staviti i nadimak ili marku
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>
                                    <span class="discountPrice">
                                        $80.00
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia2.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Neka haljina koja god hoces
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia3.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Uuuuu ova je malo skupa za moj ukus
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia4.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Opaaa ova nije losa za izlaske u klubove
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia5.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Ime haljine
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia6.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Ime haljine
                                </div>
                                <div class="productPrice">
                                    $41.00
                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia7.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName">
                                    Ime haljine
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia8.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Ime haljine
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn-primary margin2-bottom">Vise</div>
                </div>
                <div class="hot text-center">
                    <div class="categoryTitle">
                        <a href="/">Hot Haljine</a>
                    </div>
                    <div class="row">
                        <div class="col product-gap tile">
                            <img src="/images/mia9.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Ovde ide malo veci naziv haljine mozes staviti i nadimak ili marku
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>
                                    <span class="discountPrice">
                                        $80.00
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia10.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Neka haljina koja god hoces
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia11.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Uuuuu ova je malo skupa za moj ukus
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia12.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Opaaa ova nije losa za izlaske u klubove
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia13.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Ime haljine
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia14.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Ime haljine
                                </div>
                                <div class="productPrice">
                                    $41.00
                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia15.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Ime haljine
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia16.png" style="max-height: 378px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Ime haljine
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn-primary margin6-bottom">Vise</div>
                </div>

                <div class="popular text-center">
                    <div class="categoryTitle">
                        <a href="/">Popularne</a>
                    </div>
                    <div class="row">
                        <div class="col product-gap tile">
                            <img src="/images/mia17.png"
                                style="max-height: 516px; max-width: 344px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Ovde ide malo veci naziv haljine mozes staviti i nadimak ili marku
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>
                                    <span class="discountPrice">
                                        $80.00
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia18.png"
                                style="max-height: 516px; max-width: 344px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Neka haljina koja god hoces
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col product-gap tile">
                            <img src="/images/mia19.png"
                                style="max-height: 516px; max-width: 344px; border-radius: 15px;">
                            <div class="productInfo">
                                <div class="productName text-break">
                                    Uuuuu ova je malo skupa za moj ukus
                                </div>
                                <div class="col">
                                    <span class="productPrice">
                                        $41.00
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn-primary margin6-bottom">Vise</div>
                </div> -->
            <div class="d-none d-lg-block">
                <div class="view"
                    style="background-image: url('/images/horizontal.svg'); background-repeat: no-repeat; background-size: cover; background-position: center center; min-height: 60rem;">
                </div>
            </div>
            <div class="d-block d-lg-none d-sm-block d-md-block">
                <div class="view"
                    style="background-image: url('/images/horizontal.svg'); background-repeat: no-repeat; background-size: cover; background-position: center center; min-height: 30rem;">
                </div>
            </div>

            <%- include('../../partials/footer.ejs') %>



                <%- include('../../partials/js.ejs') %>
</body>

</html>